[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.2"
opencv-python = "==4.5.5.62"
pytesseract = "==0.3.8"
Pillow = "==9.1.1"
PyAutoGUI = "==0.9.53"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
format = "black teamfightchaticts"
format-check = "black --check teamfightchaticts"
test = "pytest"
start = "python3 -m teamfightchaticts"
